{{define "footer"}}
<div id="footer">
<hr />
This project on <a href="https://github.com/SargntSprinkles/lion-turtle">Github</a> | <a href="https://www.buymeacoffee.com/SargntSprinkles">Buy me a coffee?</a> | <a href="mailto:leathermanba@gmail.com">leathermanba@gmail.com</a>
</div>
{{end}}