{{define "style"}}
<style>
body {
    text-align:center
}
a.highlight {
    font-weight: bold;
}
.charcontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.charprev {
    float: left;
    margin: 10px;
}
</style>
{{end}}